<ion-menu contentId="tabs-menu-content" menuId="tabs-navigation-menu" side="start" type="overlay" class="tabs-menu">
  <ion-header class="ion-no-border">
    <ion-toolbar class="tabs-menu__toolbar">
      <ion-title>{{ "tabs.menuTitle" | transloco }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="tabs-menu__content">
    <div class="tabs-menu__shell">
      <p class="tabs-menu__copy">{{ "tabs.menuCopy" | transloco }}</p>

      <ion-list lines="none" class="tabs-menu__list" [attr.aria-label]="'tabs.navigationAriaLabel' | transloco">
        @for (item of navigationItems; track item.route) {
          <ion-menu-toggle autoHide="true">
            <ion-item
              button
              detail="false"
              class="menu-item"
              [class.menu-item--active]="isRouteActive(item)"
              [routerLink]="[item.route]"
              routerDirection="root"
            >
              <ion-icon slot="start" [icon]="item.icon"></ion-icon>
              <ion-label>{{ item.labelKey | transloco }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        }
      </ion-list>
    </div>
  </ion-content>
</ion-menu>

<ion-router-outlet id="tabs-menu-content"></ion-router-outlet>
